/*------------------------------
  FontColor
------------------------------*/
$main-font-color: #000;
$color-link: #000;
$color-link: #000;


/*------------------------------
  Header
------------------------------*/
$header-height: 40px;
$header-color: #000;

/*------------------------------
  Footer
------------------------------*/
$footer-height: 40px;
$footer-color: #000;

/*------------------------------
  Button
------------------------------*/
$button-color: #000;
$button-active-color: #000;